table {
    table-layout: fixed;
    word-wrap: break-word;
    max-width: 100%;
}
td {
    border: 1px solid white;
}
img {
    max-width: 80%;
}
#description
{
    font-size:10px
}
#toolbar
{
    font-size:14px;
    position:fixed;
    background-color: black;
    z-index: 1;
    width:100%;
}
#toolbar_top
{
    font-size:14px;
    position:fixed;
    background-color: black;
    z-index: 1;
    width:100%;
    top:0px;
}
.toolbar_item
{
    font-size: 15px;
    float: left;
    background-color:white;
    color:black;
}
.page{
    color:white;
}
a.toolbar_item{
    color:black;
    text-decoration: none;
}
label{
    font-family: monospace;
}